textarea {
    min-height: 400px;
}

.seen {
    background-color: gray;
}

.unseen {
    background-color: white;
}

#email-card {
    border: 1px black solid;
}
#email-card:hover {
    cursor: pointer
}